body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.search-box {
  position: relative;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  align-self: center;

}

.search-box:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  background: #fff;
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}
.search-box i {
  color: #888;
  font-size: 18px;
  margin-left: 10px;
}

.toptopnav{
    background-color: #453b3b;
  overflow: hidden;
  color:#fbfaf7;
 gap: 20px;
 
}

.toptopnav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 20%; 
  text-align: center; 
}

.toptopnav a:hover {
  background-color: #504945;
}
.topnav {
  overflow: hidden;
  background-color: #fcf8f3;
  box-shadow: 0 10px 5px 5px rgb(191, 194, 195);
}

.topnav a {
  float: left;
  color: #533a3a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  text-decoration: underline;
  color: rgb(75, 67, 55);
}

.topnav a.active {
font-weight: bold;
  color: rgb(93, 74, 74);
}

.mycontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #fcf8f3;
    

}

.ilva{

    text-align: left;
    align-items: left;
    background-color: #fcf8f3;
    color:rgb(52, 43, 43);
    font-size: larger;
    padding-left: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}

/* --------------------
   BOTTOM NAV
-------------------- */

.bottom-nav {
    height: 55px;
    display: flex;
    align-items: center;
    gap: 14px;

    padding-left: 80px;

    color: #777;
    font-size: 14px;
}

.bottom-nav span:nth-child(even) {
    color: #aaa;
}


/* --------------------
   SELVE PRODUKTSIDEN
-------------------- */

.product-page {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: calc(100vh - 55px);
}
/* --------------------
   VENSTRE SIDE
-------------------- */

.product-image {
    position: relative;

    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.product-image img {
    width: 75%;
    max-width: 800px;
    height: auto;
}

/* FSC logo */

.fsc-logo {
    position: absolute;
    top: 30px;
    left: 90px;

    width: 110px;
    height: 110px;

    border: 2px solid #276652;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #276652;
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
}

/* pileknapper */

.arrow {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    border: none;
    background: transparent;

    font-size: 65px;

    cursor: pointer;
}.arrow.left {
    left: 80px;
    color: #ccc;
}

.arrow.right {
    right: 25px;
    color: #222;
}

/* --------------------
   HØJRE SIDE
-------------------- */

.product-info {
    background: #f8f7f5;

    padding: 30px 55px 40px;

    display: flex;
    flex-direction: column;
}
/* Nyhed */

.new {
    display: inline-block;

    width: fit-content;

    background: #95734f;
    color: white;

    padding: 7px 13px;

    font-size: 14px;

    margin-bottom: 12px;
}

/* Titel */

h1 {
    font-size: 23px;
    letter-spacing: 1px;

    margin-bottom: 28px;
}

h1 strong {
    font-weight: 800;
}

/* Farver */

.colors {
    display: flex;
    gap: 12px;

    margin-bottom: 15px;
}

.color-box {
    width: 50px;
    height: 50px;

    background: #ad906b;

    border: 1px solid #777;

    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.color-box:nth-child(2) {
    background: #a98b65;
}

/* Beskrivelse */

.description {
    color: #444;

    font-size: 15px;

    line-height: 1.5;

    margin-bottom: 65px;
}

/* Pris */

.price {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 50px;
}
/* Levering */

.delivery {
    align-self: flex-end;

    color: #28705e;

    font-weight: bold;

    margin-bottom: 15px;
}
/* --------------------
   KØBSFELT
-------------------- */

.buy-row {
    display: flex;
    gap: 12px;

    width: 100%;
}

/* Antal */

.quantity {
    display: flex;

    height: 60px;

    border: 1px solid #333;
}

.quantity button,
.quantity span {
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    border: none;

    font-size: 25px;
}

.quantity span {
    font-size: 17px;

    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

/* Kurv */

.cart {
    flex: 1;

    background: #2d2c2b;

    color: white;

    border: none;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.cart:hover {
    background: #444;
}

/* --------------------
   CLICK & COLLECT
-------------------- */

.bottom-buttons {
    display: flex;

    gap: 12px;

    margin-top: 12px;
}

.bottom-buttons > button:first-child {
    flex: 1;

    height: 60px;

    background: transparent;

    border: 1px solid #333;

    font-size: 17px;
    font-weight: bold;
}

.heart {
    width: 60px;

    background: transparent;

    border: 1px solid #333;

    font-size: 35px;
}

/* --------------------
   AFHENTNING
-------------------- */

.pickup {
    margin-top: 30px;

    background: #ebe7e4;

    padding: 20px;

    font-size: 16px;

    line-height: 1.4;
}

/* --------------------
   BUTIK
-------------------- */

.store {
    margin-top: 12px;

    background: #ebe7e4;

    padding: 20px;

    display: flex;
    align-items: center;

    gap: 18px;

    font-size: 17px;
}

.location {
    font-size: 25px;
}

.accordion {
  background-color: #fbfaf7;
  color: #444;
  font-style: bold;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 15px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  justify-items: center ;
   box-shadow: 0 2px 5px rgba(0,0,0,0.25);

}

.active, .accordion:hover {
  background-color: #cfc8b3; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
}

/* rating system */


.container {
  background: rgba(253, 252, 247, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  justify-self: center;
}

.heading {
  margin: 5px;
  font-size: 30px;
}

.ratings-container {
  display: flex;
  padding: 20px 0;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active
{
  background: rgb(239, 228, 204);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: aliceblue;
  transition: all 300ms ease;
  color: #2d2c2b;
}


.btn {
  background-color: rgb(169, 164, 142);
  color: rgb(255, 250, 240);
  border: 0;
  margin: 10px;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.btn:active {
  transform: scale(0.96);
}

.rating img {
  width: 40px;
}
